<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>CRUD Artistas</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
</head>
<body>

<div class='container'>

    <div>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand">
                Conciertos Peru
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-app" aria-controls="navbar-app" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbar-app">

            </div>
        </nav>
    </div>

    <div id="content">
        <main>

            <div class="page-header text-center">
                <h2>Nuevo Artista</h2>
            </div>
            <div class="container-fluid">
                <form method="POST" th:action="@{'/artistas/guardar'}">
                    <div class="form-group">
                        <label form="Nombre_Grupo">Nombre Grupo</label>
                        <input name="Nombre_Grupo" type="text" class="form-control" id="Nombre_Grupo">
                    </div>
                    <div class="form-group">
                        <label form="Fecha_creacion">Fecha Creacion</label>
                        <input name="Fecha_creacion" type="text" class="form-control" id="Fecha_creacion">
                    </div>
                    <div class="form-group">
                        <label form="Tipo_musica">Tipo Musica</label>
                        <input name="Tipo_musica" type="text" class="form-control" id="Tipo_musica">
                    </div>
                    <a th:href="@{/artistas/lista}" class="btn btn-danger">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </main>
    </div>
</div>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>